# Ambiente Fabric local, apenas desenvolvimento/homologação.
FABRIC_VERSION=2.5.16
FABRIC_CA_VERSION=1.5.22
FABRIC_CHANNEL=traceagro-main
FABRIC_CHAINCODE=traceagro-cc
FABRIC_CHAINCODE_VERSION=0.1.0
FABRIC_ENDORSEMENT_POLICY=AND('Org1MSP.peer','Org2MSP.peer')
